* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  color: #020202;
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
}

body .header {
  width: 100%;
  height: 9vh;
  background-color: #2E5C42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .title {
  color: #FAFAFA;
  letter-spacing: 1.2px;
}

body .landing {
  width: 100%;
  height: 91vh;
  padding: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .landing .subtitle {
  color: #020202;
}

body .landing .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px;
}

body .landing .form .input {
  border: none;
  font-size: 18px;
  padding: 12px 26px;
  color: #020202;
  background-color: #DFDFDF;
}

body .landing .form .submit {
  border: 0;
  background-color: #D0D0D0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 12px;
  cursor: pointer;
}

body .landing .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .landing .results .food-name {
  margin: 12px;
  text-align: center;
}

body .landing .results .results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
}

body .landing .results .results-list .result {
  padding: 16px;
  margin: 6px;
  background-color: #F0F0F0;
  -webkit-box-shadow: 0px 0px 4px 1px #F0F0F0;
          box-shadow: 0px 0px 4px 1px #F0F0F0;
  cursor: pointer;
}

body .landing .results .nutrients {
  border-collapse: collapse;
}

body .landing .results .nutrients .nutrients-header {
  background-color: #2E5C42;
  color: #FAFAFA;
}

body .landing .results .nutrients .nutrients-row:nth-child(2n) {
  background-color: #DFDFDF;
}

body .landing .results .nutrients .nutrients-header, body .landing .results .nutrients .nutrients-cell {
  padding: 8px;
}

body .landing .results .nutrients .nutrients-cell-unit, body .landing .results .nutrients .nutrients-cell-amount {
  text-align: right;
}

body .connection-error {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .connection-error .connection-modal {
  width: 350px;
  height: 150px;
  background-color: #FAFAFA;
  border-radius: 12px;
}

body .connection-error .connection-modal .connection-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2E5C42;
  color: #FAFAFA;
  border-radius: 12px 12px 0 0;
}

body .connection-error .connection-modal .connection-header .connection-header-left,
body .connection-error .connection-modal .connection-header .connection-header-right {
  width: 50%;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

body .connection-error .connection-modal .connection-header .connection-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .connection-error .connection-modal .connection-header .connection-header-right .connection-x {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body .connection-error .connection-modal .connection-header .connection-header-right .connection-x:hover {
  color: #ff4f67;
}

body .connection-error .connection-modal .connection-message {
  padding: 16px;
}

:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */