$white: #FAFAFA;
$dark-white: #F0F0F0;
$light-green: #8EE4AF;
$green: #3B7555;
$black: #020202;
$grey: #DFDFDF;
$dark-grey: #D0D0D0;
$red: #ff4f67;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: $black;
    padding: 0;
    margin: 0;
    background-color: $white;
    .header {
        width: 100%;
        height: 9vh;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            color: $white;
            letter-spacing: 1.2px;
        }
    }
    .landing {
        width: 100%;
        height: 91vh;
        padding: 32px 16px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        .subtitle {
            color: $black;
        }
        .form {
            display: flex;
            margin: 16px;
            .input {
                border: none;
                font-size: 18px;
                padding: 12px 26px;
                color: $black;
                background-color: $grey;
            }
            .submit {
                border: 0;
                background-color: $dark-grey;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1.2px;
                padding: 12px;
                cursor: pointer;
                transition: .3s all ease-in-out;

                &:hover {
                    background-color: $green;
                    color: $white;
                }
            }
        }
        .results {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .food-name {
                margin: 12px;
                text-align: center;
            }
            .results-list {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;
                .result {
                    width: 314px;
                    padding: 16px;
                    margin: 6px;
                    background-color: $dark-white;
                    box-shadow: 0px 0px 4px 1px #F0F0F0;
                    cursor: pointer;
                    &:hover {                        
                        background-color: $green;
                        color: $white;
                    }
                }
            }
            .nutrients {
                border-collapse: collapse;
                .nutrients-header {
                    background-color: $green;
                    color: $white;
                }
                .nutrients-row:nth-child(2n) {
                    background-color: $grey;
                }
                .nutrients-header, .nutrients-cell {
                    padding: 8px;
                }
                .nutrients-cell-unit, .nutrients-cell-amount {
                    text-align: right;
                }
            }
        }
    }
    .connection-error {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        .connection-modal {
            width: 350px;
            height: 150px;
            background-color: $white;
            border-radius: 12px;
            .connection-header {
                display: flex;
                flex-direction: row;
                background-color: $green;
                color: $white;
                border-radius: 12px 12px 0 0;
                .connection-header-left, 
                .connection-header-right {               
                    width: 50%;
                    padding: 16px;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 1.2px;
                }
                .connection-header-right {
                    display: flex;
                    justify-content: flex-end;   
                    .connection-x {
                        cursor: pointer;
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
            .connection-message {
                padding: 16px;
            }
        }
    }
}
